


<div>
    <div id="left-top">

        <div class="box">

            <h2 class="title">რა არის პროექტის მიზანი? რომელი პრობლემის გადაჭრას
                ემსახურება პროექტი?</h2>
            <div class="text">
                ციური სხეულების შესწავლა და მათზე დაკვირვება უმნიშვნელოვანესია
                თანამედროვე სამყაროსათვის. მიუხედავად ამისა, ყველა სახელმწიფოს
                დღეს
                არა
                აქვს საშუალება ჩაერთოს არც კოსმოსის ათვისების და არც ახალგაზრდა
                თაობის
                განათლების პროგრამებში. სახელმწიფოთა უფრო დიდმა რაოდენობამ უნდა
                დაიწყოს
                მზის სისტემაში არსებული ციური სხეულების კვლევა (მაგალითად
                მთვარის და
                მარსის), თუმცა ასეთ კვლევებს მხოლოდ და მხოლოდ ძლიერი და მდიდარი
                სახელმწიფოები (მაგალითად აშშ, ევროკავშირი, ინდოეთი და ჩინეთი)
                ახერხებენ,
                რადგან დღეისათვის მოქმედი ყველა კოსმოსური აპარატი ენერგიის
                წყაროდ
                იყენებს რადიაქტიული და სხვა ძვირი ელემენტებისაგან დამზადებულ
                ენერგიის

                წყაროებს და ძვირფასი და იშვიათი მეტალებით აწყობილ ციფრულ და
                ელექტროსქემებს, რაც ძალიან ძვირი სიამოვნებაა და ქვეყნები,
                რომელთაც
                ბირთვული ფიზიკა არ აქვთ განვითარებული, ან ხელი არ მიუწვდებათ
                ასეთ
                ტექნოლოგიებზე, ვერ ახერხებენ კოსმოსის ათვისებაში და ახალგაზრდულ
                საგანმანათლებლო პროექტებში ჩართვას. აქედან გამომდინარე, ჩვენი
                მიზანია,
                შევიმუშაოთ და შევთავაზოთ ალტერნატიული და იაფი ტექნოლოგიები,
                თანამედროვე
                მასალების გამოყენებით, რომლის საშუალებითაც ქვეყნების უფრო დიდი
                რაოდენობა
                შეძლებს ციური სხეულების კვლევას და მათ შესახებ ფასდაუდებელი
                ინფორმაციის
                მიღებასა და დამუშავებას, ხოლო ენთუზიასტები, სკოლის მოსწავლეები
                და
                სტუდენტები მოახერხებენ იმ სამეცნიერო-პრაქტიკულ პროექტებში
                ჩართვას,
                რომლებიც მათ მომავალში კოსმოსთან დაკავშირებული პროფესიების
                არჩევაში
                დაეხმარება. აღსანიშნავია, რომ ჩვენ უკვე შევიმუშავეთ ერთ-ერთი
                ასეთი
                ტექნოლოგია, რომლის მეშვეობითაც სხვადასხვა კოსმოსური სხეულების
                მკვლევარი
                როვერები და სხვა აპარატები უფრო ხელმისაწვდომი, გამძლე და
                უსაფრთხო
                იქნება.


            </div>

        </div>
        <div class="rover"></div>
    </div>

    <div id="right-bot">
        <div class="box">
            <h2 class="title">რატომ არის პროექტი ინოვაციური; რა სიახლეს
                გულისხმობს
                პროექტი? </h2>
            <div class="text">
                დიდი ხანია, რაც კაცობრიობამ დაიწყო დენის წყაროებისა და
                ბატარეების
                კვლევა-ძიება. ამ სფეროში უამრავი აღმოჩენა გაკეთდა, თუმცა, ჩვენი
                აზრით, ერთ-ერთი ასეთი უმნიშვნელოვანესი აღმოჩენა მეცნიერების ამ
                დარგში ჟან შარლ პელტიერს ეკუთვნის, პელტიერის მოდულის
                გამოგონებით.
                ესაა დენის წყარო, რომელიც ტემპერატურული სხვაობის ხარჯზე ელ.
                ენერგიის
                მიღებაში გვეხმარება - რაც უფრო დიდია სხვაობა ტემპერატურათა შორის
                (რასაც ადგილი აქვს კოსმოსში), მით უფრო დიდია გამოსავალი და
                მცირეა
                დანაკარგი. ჩვენმა გუნდმა ამ გამოგონების ენერგიის მიღების მთავარ
                კომპონენტად გამოყენებაზე იფიქრა და მივიდა დასკვნამდე. რომ ეს
                სრულიად
                შესაძლებელია. ციურ სხეულებზე, როგორიცაა იუპიტერის მთვარე ევროპა,
                ვულკანური იო, მარსი და მთვარე, ვხვდებით მნიშვნელოვან
                ტემპერატურულ
                სხვაობებს, როგორც მაღალ, ასევე ძალიან დაბალს, რაც გამოწვეულია
                გამოსხივებით, გეოლოგიური პროცესებით ან ატმოსფეროს არარსებობით.
                პროექტის ინოვაციურობა იმაში მდგომარეობს, რომ ჩვენ შევიმუშავეთ
                პელტიერის ელემენტების საინჟინრო სქემებში ჩართვის ახალი სქემა,
                რაც
                საშუალებას მოგვცემს კოსმოსურ სხეულებზე არსებული ბუნებრივი
                ენერგეტიკული წყაროების გამოყენებით (გამოსხივება, ტემპერატურა)
                მოვახდინოთ იქ გაგზავნილი საკვლევი თუ სხვა აპარატების ეფექტური
                მუშაობა, ძვირადღირებული ტექნოლოგიების გარეშე. ან იმ აპარატების
                მუშაობა, რომლებმაც მომავალში ადამიანების უშუალო ჩარევის გარეშე,
                ავტომატურად უნდა მოახერხონ ფუნქციონირება (მაგალითად, მარსის
                ატმოსფეროდან ჟანგბადის მიმღები MOXIE, საწვავის დამარაგების
                ავტომატური სისტემები, ანტენის კომუნიკაცია ”ევროპა”-დან და სხვა);
                ან,
                ეს შეიძლება იყოს ენერგიის დამხმარე წყარო დიდი სტრუქტურებისა და
                მექანიზმებისთვის (მაგალითად, დიდი როვერები ან კოსმოსური
                სადგურები),
                ვინაიდან: 1. პელტიერის ელემენტს შეუძლია 200 000 საათის
                განმავლობაში
                განუწყვეტლივ მუშაობა (საშუალოდ 23-24 წლის განმავლობაში); 2.
                პელტიერის ელემენტი არის უმარტივესი მექანიზმი, რომლის გრძელვადიან
                პერპექტივაში შენახვა უფრო მარტივია და მისი გამოყენება არ აყენებს
                ზიანს გარემოს, დეტალები კი არის გადამუშავებადი (ბირთვული
                ტექნოლოგიებისაგან განსხვავებით); და 3. პელტიერის მოდული ძალიან
                იაფი
                და ხარისხიანი გზა ენერგიის მისაღებად ექსტრემალურ პირობებში.
            </div>
            <div class="text">
                ჩვენს მიერ შემუშავებული ინოვაციური ელექტრონული სქემა, რომელის
                მარსის
                რივერის მოდელშია წარმოდგენილი, საშუალებას იძლევა წარმოვაჩინოთ
                ალტერნატიული ტექნოლოგიები, ძვირადღირებული და იშვიათი მასალების
                გამოყენების გარეშე, რაც ბიძგს მისცემს სხვა მსგავს გამოგონებებს
                და
                არამდიდარ ქვეყნებს საშუალებას მისცემს ჩაერთონ კოსმოსის
                ათვისებაში
            </div>
        </div>
    </div>
</div>