<div class="row">
    <div class="column">
        <div class="card">
            <img src="../../assets/akaki.jpg" alt="" style="width:100%">
            <h1>აკაკი უგრეხელიძე</h1>
            <p [ngClass]="{'limitTextHeight': isReadMore}">კონკურს „სტარტაპ
                ობსერვატორიის“ ფინალისტი და გამარჯვებული გუნდის
                კაპიტანი. სტარტაპ „გამევიბესკვეს“ იდეის ავტორი და დამაარსებელი.
                ორგზის
                ფინალისტი ისტორიის ეროვნულ სასწავლო ოლიმპიადაში. ფრანკლინის
                სკოლის ორი
                მოდულის კურსამთავრებული და იმავე ფრანკლინის სკოლის სტაჟიორი
                „მიკროეკონომიკისა და პოლიტიკის საკითხებში“,
                Politikwettbewerbweltweit ის
                მონაწილე, ილიაუნის “MOON CAMP” ის მონაწილე, სამოქალაქო კლუბის
                პრეზიდენტი
                და კიდევ უამრავი ქართული თუ უცხოური შეჯიბრის მონაწილე და
                გამარჯვებული,
                უბრალოდ ასტრონომიის ენთუზიასტი</p>
            <button class="Readmore" type="button" (click)="showText()">
                {{ isReadMore ? 'მეტი': 'ცოტა' }}
            </button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="../../assets/merabi.jpg" alt="" style="width:100%">
            <h1>მერაბ ხიზანიშვილი</h1>
            <p [ngClass]="{'limitTextHeight': isReadMore}">კონკურს „სტარტაპ
                ობსერვატორიის“ ფინალისტი. სტარტაპ „winst’’ ის
                იდეის ავტორი და დამაარსებელი. „IT step აკადემიის“ მრავალგზის
                კურსდამთავრებული,ილიაუნის “MOON CAMP” ის მონაწილე და კიდევ
                უამრავი ქართული თუ უცხოური შეჯიბრის მონაწილე და გამარჯვებული,
                უბრალოდ პროგრამირებისა და მომავლის ტექნოლოგიების ენთუზიასტი.</p>
            <button class="Readmore" type="button" (click)="showText()">
                {{ isReadMore ? 'მეტი': 'ცოტა' }} </button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="../../assets/bella.jpg" alt="" style="width:100%">
            <h1>ბელა მღებრიშვილი</h1>
            <p [ngClass]="{'limitTextHeight': isReadMore}">„ფრანკლინის სკოლის“
                ორი მოდულის კურდამთავრებული, „ფრანკლინის
                სკოლის“ საზოგადოებასთან ურთიერთობის კოორდინატორი და უამრავი
                შეჯიბრისა ოლიმპიადის მონაწილე და გამარჯვებული. დიზაინისა და 3დ
                მოდელინგის ენთუზიასტი.
            </p>
            <button class="Readmore" type="button" (click)="showText()">
                {{ isReadMore ? 'მეტი': 'ცოტა' }} </button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="../../assets/luka.jpg" alt="" style="width:100%">
            <h1>ლუკა ცეკვაშვილი</h1>
            <p [ngClass]="{'limitTextHeight': isReadMore}">ფრანკლინის სკოლის“
                ორი მოდულის კურდამთავრებული, იდეის ავტორი და უამრავი ქართული თუ
                უცხოური შეჯიბრისა, თუ კონკურსის მონაწილე და გამარჯვებული,
                ტექნოლოგიებისა და გამოგონების ენთუზიასტი.
            </p>
            <button class="Readmore" type="button" (click)="showText()">
                {{ isReadMore ? 'მეტი': 'ცოტა' }} </button>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="../../assets/ketevani.jpg" alt="" style="width:100%">
            <h1>ქეთევან სააკაშვილი</h1>
            <p [ngClass]="{'limitTextHeight': isReadMore}">ფრანკლინის სკოლის“
                ორი მოდულის კურდამთავრებულიდა უამრავი ქართული თუ უცხოური
                შეჯიბრისა, თუ კონკურსის მონაწილე და გამარჯვებული, ტექნოლოგიებისა
                და გამოგონების ენთუზიასტი.

            </p>
            <button class="Readmore" type="button" (click)="showText()">
                {{ isReadMore ? 'მეტი': 'ცოტა' }} </button>
        </div>
    </div>
</div>
